open_clip_torch
clip~=1.0
Pillow~=9.5.0
PyYAML
safetensors~=0.3.1
tqdm~=4.65.2
bayesian-optimization
matplotlib~=3.8.2
seaborn~=0.13.0
hyperopt~=0.2.7
pytest~=7.4.3
transformers~=4.30.2
numpy
hydra-core
sd-meh==0.9.5
lightgbm 
scikit-learn
openai-clip
timm==0.6.13
fairscale==0.4.13
tensordict