defaults:
  - _self_
  - payloads: cargo
  - optimisation_guide: guide

run_name: ${optimiser}_${scorer_method}
hydra:
  run:
    dir: logs/${now:%Y-%m-%d_%H-%M-%S}_${run_name}

url: http://127.0.0.1:7860
device: cpu
work_device: cpu
threads: 1

wildcards_dir: path/to/wildcards/folder
scorer_model_dir: path/to/scorer/models/folder

model_a: path/to/model_a/file
model_b: path/to/model_b/file
model_c: path/to/model_c/file
merge_mode: weighted_sum  # see https://github.com/s1dlx/meh/wiki
prune: False
weights_clip: False
rebasin: False
rebasin_iterations: 1

optimiser: bayes                 # tpe
bounds_transformer: False        # bayes only
latin_hypercube_sampling: False  # bayes only
guided_optimisation: False
batch_size: 1
init_points: 1
n_iters: 1

save_imgs: False

scorer_device: cpu # cuda
scorer_method: [aes, ir, clip, blip] # aes, ir, clip, blip, manual

save_best: False
best_format: safetensors # ckpt
best_precision: 16 # 32

draw_unet_weights: False
draw_unet_base_alpha: False
